{% extends 'portfolio/base.html'%}

{% block title %}
Страница обо мне
{%endblock%}

{% block content %}
  <h1>Общая информация</h1>
  <p>ИТ аналитик с опытом проектирования и разработки web-приложений для гос. сектора более 7 лет.</p>
  <p>Основные навыки:</P>
  <ul>
    <li>анализа и выявления потребностей заказчика на этапе проектирования систем,</li>
    <li>построения диаграмм в нотации UML,</li>
    <li>разработки бизнес-процессов в нотации BPMN,</li>
    <li>написания SQL-запросов (в том числе со сложным агрегированием данных),</li>
    <li>построения макетов пользовательских интерфейсов (Balsamiq Mockups),</li>
    <li>постановки и контроля исполнения задач разработчиками (до 5 человек),</li>
    <li>написания ТЗ, ЧТЗ, проектной документации.</li>
  </ul>    
{%endblock%}
